/* Активное состояние ссылки при скролле */
.header__menu-link_active {
    color: rgb(255 255 255 / 100%);

    /* Полная яркость текста */
    font-weight: 500;

    /* Чуть жирнее */
    padding-left: 12px;

    /* Сдвигаем вправо */
}

/* Показываем линию слева для активной ссылки */
.header__menu-link_active::before {
    width: 30px;

    /* Ширина линии */
    left: -35px;

    /* Позиция слева */
    background-color: rgb(255 255 255 / 90%);

    /* Яркая линия */
}
