/* inter-regular - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("static/fonts/inter/inter-v1-latin_cyrillic-regular.woff2") format("woff2"), url("static/fonts/inter/inter-v1-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("static/fonts/inter/inter-v1-latin_cyrillic-500.woff2") format("woff2"), url("static/fonts/inter/inter-v1-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("static/fonts/inter/inter-v1-latin_cyrillic-700.woff2") format("woff2"), url("static/fonts/inter/inter-v1-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-900 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("static/fonts/inter/inter-v1-latin_cyrillic-900.woff2") format("woff2"), url("static/fonts/inter/inter-v1-latin_cyrillic-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media (min-width: 768px) {
  .comments {
    margin-bottom: 100px;
  }
}

@media (max-width: 767.5px) {
  .comments {
    margin: 0 0 50px;
  }
}

.container {
  max-width: calc(1184px + 32px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 50px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 767.5px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.into {
  max-width: 683px;
  margin: 0 0 68px;
}

@media (min-width: 768px) {
  .into {
    margin: 0 0 96px;
  }
}

.lead {
  padding: 30px 0 83px;
}

@media (max-width: 767.5px) {
  .lead {
    padding: 36px 0 66px;
  }
}

.main-title {
  font-weight: 900;
  color: #fff;
  line-height: 1;
  margin: 0;
}

.main-title span {
  display: block;
}

.link {
  color: #fff;
  text-decoration: underline;
}

.page {
  background: #2A2C2F;
  font: 400 14px 'Inter', sans-serif;
  color: #fff;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 8px;
  margin-bottom: 66px;
}

@media (min-width: 375px) {
  .photo-grid {
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .photo-grid {
    margin-bottom: 99px;
  }
}

.panel {
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  .panel {
    margin-bottom: 100px;
  }
}

@media (min-width: 1024px) {
  .panel {
    margin-bottom: 160px;
  }
}

@media (max-width: 1023.5px) {
  .panel {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .places {
    padding-bottom: 25px;
  }
}

@media (max-width: 767.5px) {
  .places {
    padding: 0;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  margin: 0;
}

.subtitle span {
  display: block;
}

.video {
  padding-bottom: 70px;
}

@media (min-width: 768px) {
  .video {
    padding-bottom: 115px;
  }
}

.comments__author {
  margin: 0;
}

@media (max-width: 1023.5px) {
  .comments__author {
    margin: 0 0 24px;
    text-align: center;
  }
}

.comment__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.comments__container {
  display: grid;
  gap: 30px;
}

@media (min-width: 1024px) {
  .comments__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}

@media (max-width: 1023.5px) {
  .comments__container {
    max-width: 382px;
    margin: 0 auto;
  }
}

.comments__image {
  border-radius: 50%;
  width: 97px;
  height: 97px;
  margin: 0 0 35px;
  display: block;
}

@media (max-width: 1023.5px) {
  .comments__image {
    margin: 0 auto 16px;
  }
}

.comments__item {
  margin: 0;
}

.comments__quote {
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin: 0 0 15px;
}

@media (max-width: 1023.5px) {
  .comments__quote {
    font-size: 16px;
    line-height: 23px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.comments__subtitle {
  margin: 0 0 37px;
}

@media (min-width: 768px) {
  .comments__subtitle {
    margin: 0 0 63px;
  }
}

.comments__title {
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  .comments__title {
    margin: 0 0 47px;
  }
}

.container_size_m {
  max-width: calc(984px + 32px);
}

.footer__item {
  margin-right: 16px;
}

@media (max-width: 1023.5px) {
  .footer__item {
    font-size: 16px;
  }
}

@media (max-width: 767.5px) {
  .footer__item {
    display: block;
    margin: 0 0 32px;
  }
}

@media (max-width: 767.5px) {
  .footer__text {
    width: 100%;
    padding: 16px 0 0;
  }
}

.header__logo {
  text-decoration: none;
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.7;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.header__menu {
  padding: 10px 0 0;
}

.into__item {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.into__item span {
  font-weight: 700;
}

@media (max-width: 767.5px) {
  .into__item {
    font-size: 12px;
    line-height: 19px;
  }
}

.into__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.into__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 13px;
}

@media (max-width: 767.5px) {
  .into__text {
    font-size: 16px;
    line-height: 27px;
    margin: 0 0 36px;
  }
}

.into__title {
  font-size: 54px;
  margin: 0 0 36px;
}

@media (max-width: 767.5px) {
  .into__title {
    font-size: 32px;
    margin: 0 0 41px;
  }
}

.lead__caption {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 1023.5px) {
  .lead__container {
    padding-right: 0;
    padding-left: 0;
  }
}

.lead__image {
  max-width: 100%;
}

.lead__image-wrap {
  position: relative;
  margin: 0 0 8px;
  text-align: center;
}

.lead__subtitle {
  font-size: 30px;
  margin: 0 0 70px;
}

@media (max-width: 767.5px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 36px;
  }
}

.lead__image-cover {
  position: absolute;
  top: 23%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  max-width: 95%;
}

.lead__title {
  margin: 0 0 37px;
  line-height: 0.95;
}

@media (max-width: 767.5px) {
  .lead__title {
    margin: 0 0 15px;
    line-height: 1;
  }
}

.main-title_size_l {
  font-size: 96px;
}

@media (max-width: 767.5px) {
  .main-title_size_l {
    font-size: 40px;
  }
}

.main-title_size_m {
  font-size: 32px;
}

@media (min-width: 768px) {
  .main-title_size_m {
    font-size: 42px;
  }
}

@media (min-width: 1024px) {
  .main-title_size_m {
    font-size: 72px;
  }
}

@media (max-width: 767.5px) {
  .menu_size_mobile .menu__item {
    font-size: 18px;
  }
}

.main-title_text_center {
  text-align: center;
}

.menu__item {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  margin-right: 14px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover,
.menu__item:focus {
  text-decoration: underline;
}

.photo-grid__image {
  width: 100%;
}

.panel__caption {
  background: rgba(42, 44, 47, 0.3);
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 16px;
}

@media (max-width: 767.5px) {
  .panel__caption {
    padding-bottom: 24px;
  }
}

.panel__cover {
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 216px;
}

@media (min-width: 375px) {
  .panel__cover {
    min-height: 272px;
  }
}

@media (min-width: 768px) {
  .panel__cover {
    min-height: 500px;
  }
}

@media (min-width: 1024px) {
  .panel__cover {
    min-height: 562px;
  }
}

@media (min-width: 1280px) {
  .panel__cover {
    min-height: 594px;
  }
}

.panel__image {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.panel__subtitle {
  font-size: 18px;
  line-height: 26px;
  max-width: 382px;
  text-align: center;
  margin: 0;
}

@media (max-width: 767.5px) {
  .panel__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (min-width: 768px) {
  .panel__subtitle {
    margin: 0 0 27px;
  }
}

.panel__title {
  margin: auto 0;
  position: relative;
  text-align: center;
}

@media (min-width: 768px) {
  .panel__title {
    font-size: 72px;
    top: 70px;
  }
}

.places_visible-tablet {
  display: none;
}

@media (min-width: 768px) {
  .places_visible-tablet {
    display: block;
  }
}

.places__header {
  margin: 0 0 50px;
}

@media (max-width: 767.5px) {
  .places__header {
    padding: 0 16px;
    margin: 0 0 36px;
  }
}

.places__grid {
  display: grid;
  gap: 18px;
}

@media (min-width: 768px) {
  .places__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.places__image {
  width: 100%;
}

@media (min-width: 768px) {
  .places__image {
    width: 460px;
    max-width: 100%;
  }
}

.places__image-wrap {
  margin: 0;
}

.places__item {
  margin: 0 0 32px;
}

@media (min-width: 768px) {
  .places__item {
    margin: 0 0 80px;
  }
}

.places__paragraph {
  font-size: 16px;
  line-height: 27px;
  color: #FFF;
  margin: 0 0 20px;
}

@media (min-width: 1024px) {
  .places__paragraph {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (max-width: 767.5px) {
  .places__paragraph {
    padding: 0 16px;
    margin: 0 0 27px;
  }
}

.places__title {
  line-height: 0.94;
}

.places__url {
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.places__url:hover,
.places__url:focus {
  text-decoration: none;
}

.places__url-heading {
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #AAAAAA;
  margin: 0 0 15px;
}

.places__website {
  margin: auto 0 5px;
}

@media (max-width: 767.5px) {
  .subtitle_size_mobile {
    font-size: 16px;
    line-height: 23px;
  }
}

.subtitle_text_center {
  text-align: center;
}

.video__caption {
  z-index: 1;
  margin: auto 0 0;
  padding: 16px;
}

@media (min-width: 375px) {
  .video__caption {
    padding: 24px;
  }
}

@media (min-width: 1024px) {
  .video__caption {
    padding: 30px;
  }
}

.video__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.video__duration {
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  margin: 0 0 15px;
}

.video__icon {
  z-index: 1;
  width: 41px;
  height: 41px;
  margin: 16px;
}

@media (min-width: 375px) {
  .video__icon {
    margin: 24px;
  }
}

@media (min-width: 1024px) {
  .video__icon {
    margin: 30px;
  }
}

.video__grid {
  display: grid;
  gap: 8px;
}

@media (min-width: 768px) {
  .video__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
}

.video__item {
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.video__item:before {
  content: '';
  background: #000000;
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

.video__item:hover:before,
.video__item:focus:before {
  opacity: 0.7;
}

@media (max-width: 767.5px) {
  .video__item {
    min-height: 200px;
  }
}

@media (min-width: 1280px) {
  .video__item {
    min-height: 323px;
  }
}

.video__subtitle {
  margin: 0 0 60px;
}

@media (max-width: 767.5px) {
  .video__subtitle {
    margin: 0 0 30px;
  }
  .video__subtitle span {
    display: inline;
  }
}

.video__title {
  margin: 0 0 22px;
}

@media (min-width: 768px) {
  .video__title {
    margin: 0 0 40px;
  }
}

.header__logo-img {
  width: 176px;
}

@media (max-width: 767.5px) {
  .header__logo-img {
    width: 142px;
  }
}

.menu__item_active {
  text-decoration: underline;
}

.video__caption-subtitle {
  font-size: 14px;
  line-height: 15px;
  margin: 0;
}

.video__caption-title {
  font-size: 24px;
  margin: 0 0 10px;
}

@media (max-width: 1023.5px) {
  .video__caption-title span {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .video__caption-title {
    font-size: 36px;
  }
}

/*# sourceMappingURL=index.css.map */
