.places__url {
    font-size: 18px;
    text-decoration-line: underline;
    color: var(--color-text, #fff);
}

.places__url:hover {
    text-decoration: none;
}

.places__url:focus {
    outline: none;
}

.places__url:focus-visible {
    outline: 2px solid currentcolor;
    outline-offset: 4px;
}
