.comments__container {
    display: grid;
    gap: 30px;
}

@media (--desktop-s-up) {
    .comments__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}

@media (--desktop-s-down) {
    .comments__container {
        max-width: 382px;
        margin: 0 auto;
    }
}
