.comments__container {
    display: grid;
    gap: 30px;
    max-width: 382px;
    margin: 0 auto;
}

@media (--tablet-up) {
    .comments__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        max-width: 100%;
    }
}
