@import url('./__item/menu__item.css');
@import url('./__item/_active/menu__item_active.css');

.menu {
    display: inline-flex;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 25px;
    color: var(--color-text, #fff);
}
