.lead__image {
    min-height: 200px;
    width: 100%;
}

@media (--tablet-up) {
    .lead__image {
        min-height: 480px;
    }
}

@media (--desktop-s-up) {
    .lead__image {
        min-height: 580px;
    }
}

@media (--desktop-m-up) {
    .lead__image {
        min-height: 615px;
    }
}
