.header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 767.5px) {
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}