.panel__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: clamp(216px, 57.9vw - 1px, 740px);
    text-decoration: none;
    color: inherit;
    z-index: 1;
}

.panel__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay);
    z-index: -1;
    opacity: 0.3;
    transition: opacity 0.3s linear;
}

.panel__item:hover::after {
    opacity: 0.8;
}

.panel__item:focus {
    outline: none;
}

.panel__item:focus-visible {
    outline: 2px solid currentcolor;
    outline-offset: 6px;
}
