.panel__cover {
    position: relative;
    margin: 0;
    display: flex;
    min-height: 216px;
}

@media (--mobile-up) {
    .panel__cover {
        min-height: 272px;
    }
}

@media (--tablet-up) {
    .panel__cover {
        min-height: 500px;
    }
}

@media (--desktop-s-up) {
    .panel__cover {
        min-height: 562px;
    }
}

@media (--desktop-m-up) {
    .panel__cover {
        min-height: 594px;
    }
}
