.comments__image {
    border-radius: 50%;
    width: 97px;
    height: 97px;
    margin: 0 0 35px;
    display: block;
}

@media (--desktop-s-down) {
    .comments__image {
        margin: 0 auto 16px;
    }
}
