@import url('./__image/photo-grid__image.css');

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 8px;
}

@media (--mobile-up) {
    .photo-grid {
        gap: 16px;
    }
}
