.main-title_size_m {
    font-size: 32px;
}

@media (--tablet-up) {
    .main-title_size_m {
        font-size: 42px;
    }
}

@media (--desktop-s-up) {
    .main-title_size_m {
        font-size: 72px;
    }
}
