.place__header {
    padding: 0 var(--container-padding);
    margin: 0 0 25px;
}

@media (--tablet-up) {
    .place__header {
        padding: 0;
        margin: 0 0 45px;
    }
}

@media (--desktop-m-up) {
    .place__header {
        margin: 0 0 50px;
    }
}
