@import url('./__grid/places__grid.css');
@import url('./__header/places__header.css');
@import url('./__title/places__title.css');
@import url('./__website/places__website.css');
@import url('./__url-heading/places__url-heading.css');
@import url('./__url/places__url.css');
@import url('./__image-wrap/places__image-wrap.css');
@import url('./__image/places__image.css');
@import url('./__description/places__description.css');
@import url('./__paragraph/places__paragraph.css');

.places {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media (--tablet-down) {
    .places {
        padding: 0 0 10px;
    }
}

@media (--tablet-up) {
    .places {
        gap: 70px;
    }
}
