@import url('./__button/places__button.css');
@import url('./__list/places__list.css');
@import url('./__error/places__error.css');

.places {
    --places-gap-base: 50px;

    display: flex;
    flex-direction: column;
    gap: var(--places-gap-base);
}

@media (--tablet-down) {
    .places {
        padding: 0 0 10px;
    }
}

@media (--tablet-up) {
    .places {
        --places-gap-base: 70px;
    }
}
