.places {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media (--tablet-down) {
    .places {
        padding: 0 0 10px;
    }
}

@media (--tablet-up) {
    .places {
        gap: 70px;
    }
}
