@import url('./__text/footer__text.css');

.footer {
    display: grid;
    grid-template-areas:
        'menu'
        'form'
        'copyright';
    padding-top: var(--layout-spacing);
    padding-bottom: 25px;
    gap: 32px 15px;
}

@media (--tablet-up) {
    .footer {
        align-items: center;
        grid-template-columns: max-content auto;
        justify-content: space-between;
        grid-template-areas:
            'menu form'
            'copyright copyright';
        row-gap: 50px;
    }
}

@media (--tablet-up) {
    .footer {
        padding-top: 75px;
    }
}

@media (--desktop-m-up) {
    .footer {
        padding-top: 80px;
    }
}
