*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Плавная прокрутка для якорных ссылок */
html {
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    clip-path: inset(50%);
    white-space: nowrap;
    padding: 0;
    overflow: hidden;
    border: 0;
}
