.places__description {
    padding: 0 var(--container-padding);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media (--tablet-up) {
    .places__description {
        padding: 0;
    }
}
