.panel {
    margin-bottom: 64px;
}

@media (--tablet-up) {
    .panel {
        margin-bottom: 100px;
    }
}

@media (--desktop-s-up) {
    .panel {
        margin-bottom: 160px;
    }
}

@media (width <=1024px) {
    .panel {
        padding: 0;
    }
}
