/* Сброс стилей для кнопок выбора языка */
.header__lang-item {
    all: unset;

    /* Убираем все стили */
    display: inline-block;

    /* Восстанавливаем блочное поведение */
    cursor: pointer;

    /* Указываем, что элемент кликабельный */
}
