.video__icon {
    z-index: 1;
    width: 41px;
    height: 41px;
    margin: 16px;
}

@media (--mobile-up) {
    .video__icon {
        margin: 24px;
    }
}

@media (--desktop-s-up) {
    .video__icon {
        margin: 30px;
    }
}
