.video__caption-title {
    font-size: 24px;
    margin: 0 0 10px;
}

@media (--desktop-s-down) {
    .video__caption-title span {
        display: inline;
    }
}

@media (--desktop-s-up) {
    .video__caption-title {
        font-size: 36px;
    }
}
