.lead__subtitle {
    font-size: clamp(16px, calc(4.5714px + 3.5714vw), 32px);
    line-height: 20px;
    margin: 0 auto 40px;
    padding-inline: var(--container-padding);
    max-width: 600px;
}

@media (--tablet-up) {
    .lead__subtitle {
        margin-bottom: 60px;
        line-height: 1.1;
    }
}

@media (--desktop-m-up) {
    .lead__subtitle {
        margin-bottom: 65px;
    }
}
