.lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 40px;
}

@media (--tablet-up) {
    .lead__subtitle {
        font-size: 32px;
        margin-bottom: 60px;
        line-height: 1.1;
        max-width: 500px;
    }
}

@media (--desktop-m-up) {
    .lead__subtitle {
        margin-bottom: 65px;
    }
}
