.video__caption {
    z-index: 1;
    margin: auto 0 0;
    padding: 16px;
}

@media (min-width: 375px) {
    .video__caption {
       padding: 24px;
    }
}

@media (min-width: 1024px) {
    .video__caption {
       padding: 30px;
    }
}