.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (--tablet-down) {
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
