.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--header-bg);
}

@media (--tablet-down) {
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
