.video__caption {
    z-index: 1;
    margin: auto 0 0;
    padding: 16px;
}

@media (--mobile-up) {
    .video__caption {
        padding: 24px;
    }
}

@media (--desktop-s-up) {
    .video__caption {
        padding: 30px;
    }
}
