.video__caption {
    z-index: 1;
    margin: auto 0 0;
    padding: 16px;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}

@media (--mobile-up) {
    .video__caption {
        padding: 24px;
    }
}

@media (--desktop-s-up) {
    .video__caption {
        padding: 30px;
    }
}
