.form_state_loading .form__button::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    right: 12px;
    margin-top: -7px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    border-top-color: transparent;
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.form_state_loading .form__input {
    pointer-events: none;
}
